---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="About Predictions Wiki"
  description="The Predictions Wiki is a collection of technical predictions from the past."
>
  <main>
    <h1>About Predictions Wiki</h1>
    <p><em>A note from the founder:</em></p>
    <p>
      As a software engineer following the latest trends, I encounter many predictions about the
      future of technology.
    </p>
    <p>
      I've found that many of these predictions are either inaccurate, incomplete, or never come
      true.
    </p>
    <p>
      I've also found that many of these predictions are made by people who are not actually experts
      in the field, or <em>who have a high stake in the outcome of the prediction.</em>
    </p>
    <p>
      The purpose of this site is to collect predictions from the past and see how many of them come
      true &mdash; and to track the progress of predictions over time.
    </p>
    <p>Anyone can contribute by adding a prediction to the site!</p>
    <p>
      Check out the repo on
      <a href="https://github.com/missionmike/predictions" target="_blank">GitHub</a> to add a prediction.
    </p>
    <p style="text-align: right;">
      <em>&mdash; <a href="https://www.missionmike.dev" target="_blank">Mission Mike</a></em>
    </p>
  </main>
</BaseLayout>
