---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="About Predictions Wiki"
  description="The Predictions Wiki is a collection of technical predictions from the past."
>
  <main>
    <h1>About Predictions Wiki</h1>
    <p>
      <em>by <a href="https://www.missionmike.dev" target="_blank">Mission Mike</a></em>
    </p>
    <p>
      As a software engineer following the latest trends in technology, I often come across
      predictions about the future of technology. I've found that many of these predictions are
      either wrong or incomplete.
    </p>
    <p>
      I've also found that many of these predictions are made by people who are not actually experts
      in the field, or who have a high stake in the outcome of the prediction.
    </p>
    <p>
      The purpose of this site is to collect predictions from the past and see how many of them came
      true &mdash; and to track the progress of predictions over time.
    </p>
    <p>
      Anyone can contribute to the site by adding a prediction to the site! Check the repo on
      <a href="https://github.com/missionmike/predictions" target="_blank">GitHub</a> to add a prediction.
    </p>
  </main>
</BaseLayout>
