---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPreviewCard from '../components/BlogPreviewCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getLatestBlogPost } from '../utils/blog';

const latestPost = await getLatestBlogPost();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1>🔮 Predictions Wiki</h1>
    <p>
      Welcome to the Predictions Wiki! Behold a collection of predictions from the past. How many of
      them came true? We're keeping track.
    </p>
    {
      latestPost && (
        <div class="latest-post">
          <h2>Latest Prediction</h2>
          <ul>
            <BlogPreviewCard post={latestPost} isFeatured={true} />
          </ul>
        </div>
      )
    }
  </main>
</BaseLayout>

<style>
  .latest-post {
    margin-top: 2rem;
  }
  .latest-post ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
