---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreviewCard from '../components/PostPreviewCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getLastestPost } from '../utils/post';

const latestPost = await getLastestPost();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1>⏳ Predictions Wiki</h1>
    <p>
      Welcome to Predictions Wiki! Behold a collection of predictions from the past. How many of
      them came true? <strong>We're keeping track.</strong>
    </p>
    {
      latestPost && (
        <div class="latest-post">
          <h2>Latest Prediction</h2>
          <ul>
            <PostPreviewCard post={latestPost} isFeatured={true} />
          </ul>
        </div>
      )
    }
  </main>
</BaseLayout>

<style>
  .latest-post {
    margin-top: 2rem;
  }
  .latest-post ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
