---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import PostPreviewCard from '../../components/PostPreviewCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getSortedPosts } from '../../utils/post';

const posts = await getSortedPosts();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {posts.map((post, index) => <PostPreviewCard post={post} isFeatured={index === 0} />)}
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
